Title: Home
NoSidebar: true
NoTitle: true
NoContainer: true
---
<section class="content">
    <h1>PageLayout for Xamarin Android</h1>
    <p>
        PageLayout' children view can drag!!
    </p>

    <h2>Open Source</h2>
    <p>
        AndroidPageLayout is open source on <a href="https://github.com/MeilCli/AndroidPageLayout">Github</a>
    </p>

    <h2>Install</h2>
    <p>
        AndroidPageLayout is published on <a href="https://www.nuget.org/packages/Meilcli.Android.PageLayout/">NuGet</a>
        <pre><code>Install-Package Meilcli.Android.PageLayout</code></pre>
    </p>

    <h2>Usage</h2>
    <p>
        See <a href="https://github.com/MeilCli/AndroidPageLayout/blob/master/README.md">ReadMe</a>
    </p>

    <h2>License</h2>
    <p>
        AndroidPageLayout is under <a href="https://github.com/MeilCli/AndroidPageLayout/blob/master/LICENSE.txt">MIT License</a>
    </p>
    <p>
        This library use <a href="https://github.com/MeilCli/AndroidSlideLayout">AndroidSlideLibrary</a><br />
    </p>
</section>